body {
  font-family: monospace;
  font-size: 1rem;
  color: #210;
  background: #ddd;
  padding: 2.5%;
}

body img {
  width: 80%;
}

body p {
  line-height: 1.5em;
  text-align: justify;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline;
}

h1,
h3 {
  color: #b04;
}

h2,
h4 {
  color: #163;
}

a {
  color: #465c7c;
}

dl,
ol,
ul {
  line-height: 1.5em;
}

li::marker {
  color: #b04;
}

strong,
b,
em,
i {
  color: #b04;
}

:lang(ara) {
  font-size: 1.5em;
}

hr {
  margin-top: 2em;
  margin-bottom: 2em;
}

article img {
  width: 50%;
}

ol.references {
  list-style-type: none;
}